.card {
    width: 200px;
    height: 200px;
    background-color: blue;
    opacity: 0.6;
    transition: 0.3s;
}

.card:hover {
    opacity: 1;
}


.card2 {
    width: 200px;
    height: 200px;
    background-color: brown;
    transition: 0.3s;
}

.card2:hover {
    transform: rotateY(180deg);

}