.layout {
    width: 1000px;
    height: 1000px;
    display: grid;
    grid-template-columns: [c1] 200px [c2] 200px [c3] 120px [c4] 50px [c5] 100px;
    grid-template-rows: [r1] 100px [r2] 100px [r3] 200px [r4] 200px [r5] 100px;
    gap: 10px;
}

.top{
    background-color: aquamarine;
}

.middle{
    background-color: blue;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.bottom {
    background-color: yellow;
    grid-row: 2; 
}

.wide {
    background-color: magenta;
    grid-row: 3;
    grid-column: 1 / span 2;
}

.tall {
    background-color: green;
    grid-row: 1 / span 3;
}