body {
    display: grid;
    grid-template-columns: 100px auto;

}

.sidebar-container {
    width: 100px;
    height: 100vh;
    display: grid;
    background-color: #575555;
    color: white;
    position: fixed;
    grid-column: 1;
    grid-template-rows: repeat(5, 100px) auto 100px;
    justify-items: center;
    text-align: center;
    align-items: center;

    .material-symbols-outlined {
        display: block;
        margin-bottom: 10px;
    }

    .light-mode  {
        grid-row-start: 7;
    }

}

main {

    grid-column: 2;
}

// div {
//     height: 100px;
// }

